# Question-1

In [1]:
#Question-1
'''A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.'''

'A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.'

In [2]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [3]:
cutlet= pd.read_csv("Cutlets.csv")

In [4]:
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [5]:
# null hypothesis H0: no difference in the diameter of the cutlet between the two units
# alternative hypothesis H1: there is significant difference in the diameter of the cutlet between two units

In [6]:
A= pd.Series(cutlet.iloc[:,0])
B=pd.Series(cutlet.iloc[:,1])

In [7]:
stats.ttest_ind(A,B,alternative='two-sided')

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [78]:
# significane value is 5% and p_value is 47%
# Since P_value is greater than significance value 
'''null hypothesis is true'''

'null hypothesis is true'

In [88]:
'''no difference in the diameter of the cutlet between the two units'''

'no difference in the diameter of the cutlet between the two units'

# Question no -02

In [65]:
# Question no -02
'''   A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
'''

'   A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.\n\n  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.\n'

In [47]:
LabTAT= pd.read_csv("LabTAT.csv")
#significance level (alpha=5%)
alpha0=0.05

In [67]:
LabTAT.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [74]:
Lab1=pd.Series(LabTAT.iloc[:,0])
Lab2=pd.Series(LabTAT.iloc[:,1])
Lab3=pd.Series(LabTAT.iloc[:,2])
Lab4=pd.Series(LabTAT.iloc[:,3])

In [75]:
stats.f_oneway(LabTAT.iloc[:,0], LabTAT.iloc[:,1],LabTAT.iloc[:,2],LabTAT.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [4]:
p_val= 2.1156708949992414e-57
alpha0=0.05
print('significance=%.2f, p=%.2f' %(alpha0, p_val))
if p_val <= alpha0:
    print('there is difference in average TAT among the different laboratories & reject the null hyopthesis ')
else:
    print('there is no difference in average TAT among the different laboratories & accept the null hypothesis')

significance=0.05, p=0.00
there is difference in average TAT among the different laboratories & reject the null hyopthesis

# Question no -03

In [75]:
# Question no -03
'''Find if male-female buyer rations are similar across regions.'''

from scipy.stats import chi2_contingency
#ho: all proportions are equal
#h1:  not all proportions are equal

In [76]:
Br=pd.read_csv("BuyerRatio.csv")

In [77]:
Br1=Br.set_index('Observed Values')

In [78]:
sts, p, dof, expected = chi2_contingency(Br1)

In [79]:
sts

1.595945538661058

In [80]:
p

0.6603094907091882

In [81]:
dof

3

In [82]:
expected

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [84]:
print('significance=%.2f, p=%.2f' %(alpha, p))
if p <= alpha:
    print('reject null hypothesis(not all proportions are equal)')
else:
    print('fail to reject H0 (all proportions are equal)')

significance=0.05, p=0.66
fail to reject H0 (all proportions are equal)

# question -04

In [63]:
#question -04
'''     TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences
'''

'     TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences\n'

In [64]:
Cu=pd.read_csv("Costomer+OrderForm.csv")
#significance level(alpha=5%)
alpha1=0.05

In [65]:
Cu

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [66]:
print(Cu['Phillippines'].value_counts(),
Cu['Indonesia'].value_counts(),
Cu['Malta'].value_counts(),
Cu['India'].value_counts()
     )

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [67]:
ob=[[271,267,269,280],[29,33,31,20]]

In [68]:
ob

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [69]:
stat1, p1, dof1, expected1 = chi2_contingency(ob)

In [70]:
stat1

3.858960685820355

In [71]:
p1

0.2771020991233135

In [72]:
dof1

3

In [73]:
expected1

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [87]:
print('significance=%.2f, p=%.2f' %(alpha1, p1))
if p1 <= alpha1:
    print('dependent & reject the null hyopthesis ')
else:
    print('Independent & accept the null hypothesis')

significance=0.05, p=0.28
Independent & accept the null hypothesis